*{
  
    font-size: 16px;
    background-color: white;
   
 }

table{
      border: 1px solid black;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     width: 30%;
     max-width: 30%;
    

     
  }

  th,tr,td{
    border: 1px solid black;
    padding:10px;    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    
    
  }

  button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
  }
